<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BANDERA</title>
</head>
<body>
  


  <div class="grid-layout">
  <div class="caja">SUCUMBIOS</div>
  <div id="caja1"></div>
  <div id="caja2"></div>
  <div id="caja3"></div>
  
   
  <div id="rectangulo">
  <img src="https://img.goraymi.com/2018/06/29/39f824b8c3b3b85caa032c4d40d79470_xl.jpg"alt="imagen"class="Casabe">
  
  <h3 class="contexto">Casabe de Yuca:tortilla de yuca, circular, plana,
     asada en tiesto, elaborado de forma manual y ancestral.</h3>
  </div>
  <div id="rectangulo2">
  <img src="https://ec.viajandox.com/uploads/Limoncocha_5.jpg" alt="imagen2" class="choza">
  <h4 class="lugar2">Reserva de Producción de Fauna Cuyabeno</h4>
  <h4 class="contexto2">Un verdadero paraíso natural que se extiende sobre 
    603.380 hectáreas de selva tropical. La reserva es la cuna de 4 
    nacionalidades indígenas de la región
     amazónica: Cofán, Quichuas de la Amazonía, Siona y Secoya.</h4>
  </div>
  <div id="rectangulo3">
  <img src="https://ec.viajandox.com/uploads/min_attractive_168.jpg" alt="imagen3" class="delfinrosa">
  <h5 class="lugar3">Reserva Biológica Limoncocha</h5>
  <h6 class="contexto3">Es uno de los parajes del Ecuador que 
    ofrece mayor variedad de mamíferos 
    y abundante número de especies de anfibios, aves y reptiles.</h6>
  </div>
  <div id="rectangulo4" >
    <img src="https://1.bp.blogspot.com/-cqBQs38j8Ms/VVatQ4FiUUI/AAAAAAAAAEM/UhBN_O1KRZM/s320/_DSC0139%2B(2).JPG" alt="imagen4" class="vestimenta">
  
  </div>

  </div>
</body>
  </html>
